S3method(plot, smolr_image)
S3method(plot_lut, smolr_image)
S3method(plot, smolr_kde)
S3method(plot, smolr_dbscan)
S3method(print, smolr_image)
S3method(print, smolr_kde)
S3method(print, smolr_dbscan)

S3method(SMOLR, default)
S3method(SMOLR, data.frame)
S3method(SMOLR, list)

S3method(SMOLR_KDE, default)
S3method(SMOLR_KDE, data.frame)
S3method(SMOLR_KDE, list)

S3method(SMOLR_DBSCAN, default)
S3method(SMOLR_DBSCAN, data.frame)
S3method(SMOLR_DBSCAN, list)

S3method(SMOLR_PLOT, default)
S3method(SMOLR_PLOT, data.frame)

S3method(SMOLR_FEATURES, default)
S3method(SMOLR_FEATURES, smolr_kde)
S3method(SMOLR_FEATURES, list)

S3method(SMOLR_POINT_FEATURES, default)
S3method(SMOLR_POINT_FEATURES, data.frame)
S3method(SMOLR_POINT_FEATURES, smolr_kde)
S3method(SMOLR_POINT_FEATURES, smolr_dbscan)
S3method(SMOLR_POINT_FEATURES, list)

S3method(SMOLR_PARAMETER, default)
S3method(SMOLR_PARAMETER, data.frame)
S3method(SMOLR_PARAMETER, list)

S3method(SMOLR_ROTATE, default)
S3method(SMOLR_ROTATE, data.frame)

S3method(SMOLR_LIST, default)
S3method(SMOLR_LIST, data.frame)

S3method(SMOLR_IMPORT, default)

S3method(SMOLR_LOAD, default)

S3method(SMOLR_TO_PPP, default)
S3method(SMOLR_TO_PPP, data.frame)
S3method(SMOLR_TO_PPP, list)

S3method(thinImage, default)

S3method(IJROI_subset, default)
S3method(IJROI_subset, list)


import(plotrix, 
       KernSmooth, 
       tools,
       plyr,
       dbscan,
       deldir,
       RImageJROI,
       pals)


export(rotate3d,
       rotate_coord,
       apply_filtered_features,
       GAUSS_FUNCTION,
       SMOLR,
       SMOLR_FEATURES,
       SMOLR_KDE,
       SMOLR_PLOT,
       SMOLR_PARAMETER,
       SMOLR_ROTATE,
       SMOLR_LIST,
       SMOLR_DBSCAN,
       SMOLR_IMPORT,
       SMOLR_LOAD,
       SMOLR_TO_PPP,
       plot_lut,
       SMOLR_POINT_FEATURES,
       thinImage,
       dbscan_to_localizations,
       IJROI_subset
       )

importFrom("spatstat", owin,disc,ppp,inside.owin)
importFrom("EBImage", flop,erode,dilate,normalize,computeFeatures,makeBrush,bwlabel)
importFrom("tiff",readTIFF,writeTIFF)
importFrom("RImageJROI",read.ijzip,read.ijroi)
importFrom("pander",pander)
importFrom("pracma",polyarea)